*{
    margin: 0px;
    padding: 0px;
}
nav img{
    width: 100%;
    height: 150px;
}

  footer{
      color: white;

      
  }
  ul li{
      font-size: 20px;
  }
  .btn{
      background-color: gray;
      border-radius: 20px;
  }

  .btn button{
      width: 300px;
  }
  