<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Passbook</title>
    <style>
        div
        {
            margin:auto;
            margin-top:100px;
             border: 2px solid black;
             height: auto;
                font-size:25px; 
                background-color:lightgrey;
                 border-radius:30px;
        }
        table{
        height:auto; 
        margin:auto; 
        margin-top:50px; 
        background-color:yellow;
        font-size: 25px;
        }
    </style>
</head>
<body style="background-color:gray">
    <div class="container">
        <br>
        <h3 style="background-color:purple; text-align:center;color:white;">Transaction History</h3>
        <table class="table table-bordered table-striped">
            <tr>
                <th>Account</th>
                <th>Amount</th>
                <th>Debit/Credit</th>
                <th>Date</th>
            </tr>
            {% for dt in info %}
            <tr>
                <td>{{dt.Account}}</td>
                <td>{{dt.Amount}}</td>
                <td>{{dt.Debit_Credit}}</td>
                <td>{{dt.date}}</td>
            </tr>
            {% endfor %}

        </table>
        <br><a href="/transaction" style="margin-left:250px;">Back</a>
        <br><br>
    </div>
</body>
</html>