{% extends 'ATM/base.html' %}

{% block content %}
<head>
<title>ATM Application</title>
<style>
  #menu{
    background-image: linear-gradient(to right,darkgreen, violet,darkgreen);
  }
</style>
</head>
<div class="container-fluid">
    <div class="row">
        <div class='btn col-xl-4 col-sm-12 col-md-5 col-lg-4' style="background-color: gray;" id='menu'>
            <a href="/atm/generatePin">
          <button type="button" class="btn btn-primary btn-lg mx-5 my-3">Generate ATM Pin</button><br><br>
            </a>
            <a href="/atm/withdraw">
          <button type="button" class="btn btn-primary btn-lg mx-5">Withdraw</button><br><br>
                </a>
            <a href="/atm/deposit">
          <button type="button" class="btn btn-primary btn-lg mx-5">Deposit</button><br><br>
                </a>
            <a href="/atm/balanceEnq">
          <button type="button" class="btn btn-primary btn-lg mx-5">Balance Enquiry</button><br><br>
                </a>
            <a href="/atm/transaction">
          <button type="button" class="btn btn-primary btn-lg mx-5">Transaction History</button><br><br>
            </a>
        </div>
        <div class='col-xl-8 col-sm-12 col-md-7 col-lg-8'>
            <img src="static/ATM/images/apic1.jpg" width=100% height=100%/>
        </div>
    </div>
  </div>
{% endblock %}